name: newfile

on:
  push:
   branches: main

jobs:
 setup:
  runs-on: newrunner

  steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Javainstall
    uses: actions/setup-java@v4
    with:
     distribution: temurin
     java-version: 17
     cache: maven

  - name: unittest
    run: mvn test


  - name: SonarQube Scan
    uses: SonarSource/sonarqube-scan-action@v7.0.0 # Ex: v4.1.0 or sha1, See the latest version at https://github.com/marketplace/actions/official-sonarqube-scan
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  - name: Compiling
    run: mvn package

  - name: upload
    uses: actions/upload-artifact@v4
    with:
     name: GC-Bank
     path: /target/*.jar

  - name: Download JAR artifact
    uses: actions/download-artifact@v4
    with:
      name: GC-Bank
      path: app  # This creates the /app folder Docker is looking for

  - name: Login to Docker Hub
    uses: docker/login-action@v3
    with:
      username: ${{ vars.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}
          
  - name: Set up QEMU
    uses: docker/setup-qemu-action@v3
        
  - name: Set up Docker Buildx
    uses: docker/setup-buildx-action@v3

  - name: Build and push
    uses: docker/build-push-action@v6
    with:
      context: . # This tells Docker to look in the current directory
      push: true
      tags: user/app:latest
