name: newfiles

on:
  push:
   branches: main

jobs:
 setup:
  runs-on: newrunner

  steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Javainstall
    uses: actions/setup-java@v4
    with:
     distribution: temurin
     java-version: 17
     cache: maven

  - name: unittest
    run: mvn test


  - name: SonarQube Scan
    uses: SonarSource/sonarqube-scan-action@v7.0.0 # Ex: v4.1.0 or sha1, See the latest version at https://github.com/marketplace/actions/official-sonarqube-scan
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  - name: Compiling
    run: mvn package

  - name: upload
    uses: actions/upload-artifact@v4
    with:
     name: bankapp
     path: target/*.jar

  - name: Download JAR artifact
    uses: actions/download-artifact@v4
    with:
      name: bankapp
      path: app  # This creates the /app folder Docker is looking for

  - name: Login to Docker Hub
    uses: docker/login-action@v3
    with:
      username: ${{ vars.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}
        
  - name: Set up Docker Buildx
    uses: docker/setup-buildx-action@v3

  - name: Build and push
    uses: docker/build-push-action@v6
    with:
      context: .
      push: true
      load: true  # <--- THIS IS THE KEY FIX
      tags: ${{ vars.DOCKERHUB_USERNAME }}/bankapp:latest

  - name: Trivy Image Scan (Local)
    run: |
        trivy image --exit-code 1 --severity CRITICAL ${{ vars.DOCKERHUB_USERNAME }}/bankapp:latest

