name: newfile

on:
  push:
   branches: main

jobs:
 setup:
  runs-on: newrunner

  steps:
  - name: Checkout
    uses: actions/checkout-code@v4

  - name: Javainstall
    uses: actions/setup-java@v4
    with:
     distribution: temurin
     version: 17


